

select {
	height:30px;
}

div.playerTemplate {
	display:none;
}
body {
	width: 1750px;
}
div.player {
	width:250px;
	/*height:100%;*/
	padding: 5px 10px;
	margin:4px;
	background-color: #fff;
	float: left;
	overflow:auto;
	border-left: 2px solid #fff;
	/*border-top: 2px solid #fff;*/
	box-shadow: 1px 1px 4px #888;
}
.playerName {
	width:225px;
	font-size:24px;
	background-color:inherit;
	border:none;
	color:#666;
}

.player.red {
	border-color:#F26C4F;
}
.player.green {
	border-color:#3BB878;
}
.player.blue {
	border-color:#00BFF3;
}
.player.black {
	border-color:#363636;
}
.player.white {
	border-color:#eee;
}
.player.yellow {
	border-color:#ffed00;
}
.player.red:hover {
	background-color: #fff2f2;
}
.player.green:hover {
	background-color: #f2fff8;
}
.player.blue:hover {
	background-color: #f2f3ff;
}
.player.black:hover {
	background-color: #f0f0f0;
}
.player.white:hover {
	background-color: #fafafa;
}
.player.yellow:hover {
	background-color: #FFF9B3;
}
.red {
	background-color:#F26C4F; 
}
.black {
	background-color:#363636;
}
.green{
	background-color:#3bb878;
}
.blue {
	background-color:#00bff3; 
}
.white{
	background-color:#eee; 
}
.yellow {
	background-color:#ffed00;
}
	
div.trip {
	text-align:center;
	/*animation-duration: 1s;*/
	/*animation-name: slidein;*/
	overflow: hidden;
}

@keyframes slidein {
  from {
    height: 0px;
  }
  to {
    height: 40px;
  }
}

.destinations {
	width:100%
}

div.payout {
	font-family: Helvetica, Calibri, Arial, sans-serif;
	font-size:1.2em;
	margin:5px;
	cursor:pointer;
}
.unreachable {
	color:red;
}
.addDestination {
	height:30px;
	width: 100%;
	margin:10px auto;
}
.button {
	display:block;
	color:#ccc;
	font-size:36px;
	line-height:36px;
	text-align:center;
	cursor:pointer;
	
}
.button:hover {
	color:#111;
}
#controls {
	float:left;
	width:45px;
}
#addPlayer, #statsButton{
	margin:4px;
	width:40px;
	height:50px;
	float:left;
}


.playerColor {
	width: 18px;
	height: 18px; 
	display:inline-block;
	
}
.playerColor:hover{
	cursor:pointer;
}
.playerColor div{
	height: 18px;
	display: none;
}
#modalBackground {
	display:none;
	opacity:.7;
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	background-color:#eee;
	height:100%;
	width:100%;
	
}
#statsReadOut {
	position:absolute;
	top:150px;
	right:30%;
	left:30%;
	display:none;
	z-index:10;
	background-color:white;
	margin:auto;
	border:2px solid black;
}
#playerStatsTemplate{
	display:none;
}
#playerStats {
	text-align:center;
}
#exitStats {
	margin:auto;
	width:20px;
}